* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#imagePicker {
  position: fixed;
  bottom: 10px;
  font-size: 25px;
  left: 50%;
  transform: translateX(-50%);
}